@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Young+Serif&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  margin-top: 10px;
}

.App-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #282c43;
  font-size: calc(10px + 2vmin);
  position: relative;
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.head-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-family: 'Young Serif', serif;
  text-align: center;
}

li.item {
  display: inline;
}

.item a {
  display: block;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.ul-nav {
  display: flex;
}

nav.nav {
  @media (min-width: 1000px) {
    margin-left: 150px;
  }
}

#search {
  align-items: center;
  margin-left: 10px;
  padding-bottom: 7px;
}

input.search-input {
  border-radius: 15px;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
}

body {
  background-color: #282c28;
}

.item-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.item {
  cursor: pointer;
}

div.items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  position: relative;
  transition: transform 0.2s;
}

.movie-image {
  max-width: 180px;
  max-height: 360px;
  flex-wrap: nowrap;
}

.items:hover {
  cursor: pointer;
  transform: scale(1.1);
}

div.items:hover .overlay{
  opacity: 1;

}

div.overlay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 10%;
  transition: 0.3s ease;
  opacity: 0;
  bottom: 0;
  font-size: 12px;
  text-align: center;
  color: white;
}

.fixed-title-width {
  width: 200px;
}

.fixed-rank-width {
  width: 100px;
}

div.belowHead {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}

div.pagesetup {
  width: 20%;
  height: 100px;
}

div.homepage {
  background-color: white;
  width: 100%;
}

div.lists-container {
  display: flex;
  flex-direction: column;
}

div.list-fix {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table, tr, td , th {
  border: 1px solid black;
  justify-content: center;
  margin: 10px;
}

td {
  width: 10%;
}

.black-text {
  color: black;
}

.Large {
  font-size: 65px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fix-h {
  margin: auto;
  border-radius: 15px;
  width: 72%;
}

.add-movies .extra-margin{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(78, 77, 77);
  border-radius: 25px;
  width: 81%;
  margin-left: auto;
  margin-right: auto;
}

.extra-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.display-movies {
  background-color: #337567;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  max-height: 650px;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 80%;
  max-width: 600px;
}

.display-movies::-webkit-scrollbar {
  display: none;
}

.rank-rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-fix {
  margin-left: 20px;
}

div.review {
  background-color: white;
  max-height: 200px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 7px;
  padding-bottom: 1px;
  overflow: scroll;
}

div.review::-webkit-scrollbar {
  display: none;
}

.movie-image-2 {
  max-width: 120px;
  max-height: 240px;
}

/* MovieSetup */
.pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-in {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
}

.rank {
  text-align: center;
}

/* CreateList */
.CreateList {
  background-color: rgb(13, 108, 151);
  width: 30%;
  border-radius: 50px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  border-radius: 10px;
  height: 30px;
  width: 60%;
  text-align: center;
}

.desc {
  border-radius: 10px;
  height: 120px;
  width: 59%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  resize: none;
  margin-bottom: 30px;
}

/* SignUp */
.SignUp {
  background-color: rgb(9, 71, 20);
  width: 550px;
  border-radius: 50px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user {
  border-radius: 10px;
  height: 30px;
  width: 60%;
  text-align: center;
}

.submit {
  margin-top: 20px;
}

.switch {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* SignIn */
.SignIn {
  background-color: rgb(127, 129, 21);
  width: 550px;
  border-radius: 50px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Home */

.limit-width {
  width: 40%;
  margin: auto;
}